.page.theme_light {
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --decorative-corner-color: #353430;
  --header-menu-color: #353430;
  --header-menu-color-rgb: 53, 52, 48;
  --heading-color: #ffc2e6;
  --heading-back-color: #ff0070;
  --link-back-color: #ff8dcb;
  --invered-text-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --main-text-color: #353430;
  --section-header-text-color: #353430;
  --theme: light;
}

@container root style(--theme: light) {
  .decorative-record {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .page {
    --background-color: #fff1f7;
    --accent-color: #ff8dcb;
    --decorative-corner-color: #353430;
    --header-menu-color: #353430;
    --header-menu-color-rgb: 53, 52, 48;
    --heading-color: #ffc2e6;
    --heading-back-color: #ff0070;
    --link-back-color: #ff8dcb;
    --invered-text-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --main-text-color: #353430;
    --section-header-text-color: #353430;
    --theme: light;
  }
}
